.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  border-radius: 10px;
  margin-left: 8px;
}

.card-product h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 1rem;
  opacity: .7;
  margin-top: 1rem;
}

.card-product .card-product-infos {
  padding: 16px;
}


.cards {
  display: grid;
  width: 66vw;
  margin: auto;
  grid-gap: 16px;
}


@media (min-width: 100px)  {
  .cards {
    grid-template-columns: 1fr;
  }
}




@media (min-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr ;
  }
}



.btn-card {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  text-decoration: none;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

.btn-card:hover {
  background: #1BCB7F;
  color: white;
}
