.card-product {
  overflow: hidden;
  background: white;
  display: flex;
  height: 200px;
  align-items: center;
  border-radius: 2px;
}

.card-product:hover {
}

.card-product img {
  width: 120px;
  min-height: 120px;
  border-radius: 60px;
  margin-left: 8px;
  object-fit: scale-down;
}
.card-product img:hover {
  transform: scale(1.01);
}

.card-product h2 {
  font-size: 1.25rem;
  font-weight: bold;
  height: 25%;

}

.card-product p {
  font-size: 0.6rem;
  opacity: .7;
  overflow: scroll;
  height: 50%;

}

.card-product .card-product-infos {
  padding: 15px;
  display: flex;

  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex-direction: column;
}


.cards {
  display: grid;
  width: 66vw;
  margin: auto;
  grid-gap: 16px;
}


@media (min-width: 100px)  {
  .cards {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.btn-card {
  color: #F7FAFC;
  padding: 0.50rem 1.5rem;
  border-radius: 5px;
  background: rgb(27, 32, 45);
  font-size: 0.84rem;
  font-weight:600;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  border: none;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.btn-card:hover {
  transition: background 0.3s ease;
}
