  .benefit-content-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 10vw;
    margin:auto;
    padding: 5rem;
    border-radius: 20px;
background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  }
@media only screen and (min-width: 600px) {
.benefit-content-right {
    width: 66%;
    flex-direction: row-reverse;
  }
}

  .benefit-text-right{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #1B202D;
    font-size: 1.25rem;
  }

.benefit-text-right   h3{
    font-size: 1.25rem;
    font-weight: 800;
    opacity: 1;
    color: #1B202D;
    text-shadow: 0 0 25px rgba(255,255,255,0.3);
}

@media only screen and (min-width: 600px) {
.benefit-text-right   h3{
    font-size: 4.768rem;
    font-weight: 800;
    opacity: 1;
    color: #F7FAFC;
    text-shadow: 0 0 25px rgba(255,255,255,0.3);
  }
}


  .benefit-text-right p{
    color: #F7FAFC;
    opacity: 1;
    font-weight: 800;
    font-size: 1.25rem;
    text-shadow: 0 0 25px rgba(255,255,255,0.3);
  }

  .benefit-illustration-right{
    height: 5px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .illustration{
    width: 40vw;

  }



@media only screen and (min-width: 600px) {
  .illustration{
    width: 40vw;

  }
}






