.description {
    width: 66%;
    margin: auto;
    font-weight: 600;
    text-align: left;
}

.item {
    padding-bottom: 3rem;
    font-size: 3.052rem;
    min-height: 50vh;
    ;
}

.discuss {
    padding-bottom: 3rem;
    font-size: 3.052rem;
    margin-top: 5rem;
    ;
}

@media (min-width: 900px) {
    .item {
        font-size: 3.052rem;
    }
    .discuss {
        font-size: 3.052rem;
    }
}