.description{
  width: 66%;
  margin: auto;
  font-weight: 600;
  padding-bottom: 10rem;
  text-align: left;
}

  .item {
    padding-bottom: 3rem;
    font-size: 3.052rem;
  }


@media (min-width: 900px) {
  .item {
    font-size: 2.441rem;
  }
}
