.btn-flat {
  color: #02A3FF;
  padding: 8px 24px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #F5FAFF;
  margin: auto;
  width: 60px;
  text-align:center;
  font-weight: 600;
}

.btn-flat:hover {
  background: #E1F2FF;
}

