.navigation{
  height: 8vh;
  position: sticky;
  top: 0px;
  background: #F7FAFC;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all .7s ease-in;
  z-index: 1;
  border-radius: 0px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 0.84rem;
  background: #F7FAFC;
  width: 100vw;
  margin: auto;
}


@media only screen and (min-width: 900px) {
.navigation{
}

}


.logo-text a{
  color: black;
  text-decoration: none;
  font-size: 0.60rem;
}

@media only screen and (min-width: 900px) {
.logo-text a{
  color: black;
  text-decoration: none;
  font-size: 0.84rem;
}

}

.navigation  .logo{
    height: 1rem;

  }

@media only screen and (min-width: 900px) {
.navigation  .logo{
    height: 1.25rem;

  }


}


.navigation-scrolled{
  height: 5vh;
  position: sticky;
  top: 0px;
  background: #F7FAFC;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 100vw;
  border-radius: 0px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 0.84rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: all .2s ease-in;

}

.navigation-scrolled .logo{
    height: 0.84rem;
    transition: all .2s ease-in;
    padding-right: 2px;
    padding-left: 2px;
  }
.navigation-scrolled a{
    font-size: 0.84rem;
    transition: all .2s ease-in;
  }
.navigation-scrolled .navigation{
    opacity: 0.8;
    transition: all .2s ease-in;
  }

.link  {
  color: black;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.4;
  padding: 10px;
  text-align: center;
  font-size: 0.60rem;
  padding-bottom: 0.40rem;
}

@media only screen and (min-width: 900px) {
.link  {
  font-size: 1rem;

}

}

 .active {
  color: black;
  text-decoration: none;
  margin: auto;
  font-weight: 600;
  opacity: 1!important;

}

 .active {
  color: black;
  text-decoration: none;
  margin: auto;
  font-weight: 600;
  opacity: 1!important;

}

.link:hover {
  color: black;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.9;
}
